
*
!.gitignore

# ssh
!.ssh

#aws
!.profile
!.aws/config

#bash
!.bashrc
!.bash_profile

#zsh
!.zshrc
!.zlogin

#utils
!.aliases
!.gitconfig
!.gitignore-global

#tools
!.asdfrc
!.terraformrc
!.tool-versions
!.vault-token
!.yarnrc
!.netrc
!.kube/config

#editors
!.vimrc
!.spacemacs
!.spacemacs.env
